:root {
  --color-primary: #2bc4bd;
  --color-primary-offWhite: #ebeded;
}
.App {
  height: 20rem;
  display: flex;
  justify-content: center;
}

.BarChart {
  background-color: var(--color-primary-offWhite);
  display: grid;
  grid-template-columns: repeat(
    10,
    1fr
  ); /* Adjust the number of columns as needed */
  gap: 4px; /* Adjust the gap between squares as needed */
}

.BarData {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BarSquare {
  border-radius: 3px;
  height: 100%;
  width: 100%;
  background-color: black;
}

.BarChart .green {
  background-color: #00cc00;
}

.BarSquare.red {
  background-color: #ff3333;
}

.BarSquare.yellow {
  background-color: #ffcc00;
}

.PercentText {
  color: var(--color-primary-offWhite);
  font: 700 1.25rem sans-serif;
  text-align: center;
}
