/* input[type=text] {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter';
    background-color: #FFFFFF;
    color: black;
  }


  input[type=text]:focus {
    background-color : #f6f7ff; 
  } */

  .input-container {
    position: relative;
    margin: 20px;
    width: 100%;
  }
  
  .input-container input {
    width: 100%;
    padding: 16px 24px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
  }
  
  .input-container input::placeholder {
    color: #999;
  }
  
  .input-container .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  