body {
    background: linear-gradient(45deg, #BED7EE, #CBD2EB);
  }

  @font-face {
    font-family: Figtree;
    src: url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap);
  }

h1 {
    font-size: 24px;
    font-family: Figtree;
    margin: 0%;
    color: black;
}

h2 {
    font-size: 18px;
    font-family: Figtree;
    margin: 0%;
    text-align: left;
    color: black;
}

p {
    font-size: 16px;
    font-family: 'Inter';
    color: black;
}


.center {
    margin: auto;
    /* width: 80vw; */
    display : flex;
    justify-content:center;
    align-items: center;
    gap: 64px;
    flex-direction: column;
  }

  .dash-container {
    display: grid;
    grid-template-columns: auto;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 52px;
    padding-left: 40px;
    width: 80vw;
  }

  .analysis-container {
    display: grid;
    grid-template-columns: auto;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 52px;
    padding-left: 40px;
    width: 80vw;
    justify-items: start;
    flex-wrap:wrap;
  }

  .heading-subheading {
    gap: 12px;
  }

  .inner-container {
    background-color: #FBFBFB;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    gap: 32px;
  }

  .inner-container-questions {
    display: grid;
    grid-template-columns: auto;
    gap:24px;
  }

  .question-heading {
    display: grid;
    grid-template-columns: auto;
    gap:8px;
  }

  .submit {
    background: linear-gradient(45deg, #0258FF, #2A5EC3);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Inter';
    width: 20%;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  /* .multi-select-unfilled {
    margin: 10px;
    padding: 4px 24px;
    font-family: 'Inter';
    font-weight: medium;
    border:1px solid #E0E0E0;
    background: #FBFBFB;
    color: #848484;
    padding: 4px 24px;
    border-radius: 30px;
    gap: 10px;
    font-size: 16px;
  }

  .multi-select-filled {
    border:1px solid #E0E0E0;
    background: #0258FF;
    color: #ffffff;
    padding: 4px 24px;
    border-radius: 30px;
    font-family: 'Inter';
    font-weight: medium;
    gap: 10px;
    font-size: 16px;
    margin: 10px;
  } */

