input[type=text] {
    width: 70%;
    padding: 10px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter';
    background-color: #FFFFFF;
    color: black;
  }


  input[type=text]:focus {
    background-color : #f6f7ff; 
  }


.input-error {
    border-color: red; /* Change border color to indicate error */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}