.queryBoxTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.score {
  padding: 5px 10px;
  background-color: #4caf50; /* Green background */
  color: white; /* White text color */
  font-weight: bold;
  border-radius: 5px; /* Rounded corners */
  font-size: 1em; /* Adjust based on your design */
  margin-left: 10px; /* Space from the title or other elements */
  text-align: center;
  min-width: 50px; /* Ensures a minimum width */
  font-weight: bold;
}

.green {
  background-color: #00cc00;
}

.red {
  background-color: #ff3333;
}

.yellow {
  background-color: #ffcc00;
}

.code-snippet {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.code-snippet-title {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-snippet-description {
  color: #666;
}

.code-snippet-url {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
}

.code-snippet-code {
  background-color: #eee;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}
